body {
    background-color: black;
    color: green;
}
.cursor {
    display: inline-block;
    width: 1ch;
    background: black;
    animation: blink 0.7s steps(1) infinite;
    vertical-align: bottom;
}