* { box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: black;
    display: flex;
    justify-content: center;
}

#splash {
    background-color: black;
    color: white;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cursor::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

#main-content {
    display: none;
    width: 85vw;
    margin-top: 10vh;
    padding: 4vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid white;
    border-bottom: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;

    padding-bottom: 800px;
    background-image: url('./assets/noise.png');
    background-size: 100% auto;
    background-repeat: repeat-y;

}

.lineHeader {
    color: green; /* Make the lineHeader green */
}

.header {
  margin-bottom: 5vw;
  /* border: 1px solid white; */

}
.greetings {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: 200;
  font-size: 3.8rem;
  margin: 0;
  margin-left: 3vw;
  margin-top: 8vh;
}
.sub {
  color: rgb(0, 223, 0);
  font-weight: 200;
  font-size: 2.3rem;
  margin: 0;
  margin-left: 3vw;
  padding-top: 0;
  
}
.sub-cont {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;

}

.links {
  flex: 4;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-top: 3vw;
  margin-left: 1rem;

}
.carousel {
  flex: 4;
  height: 330px;
  min-width: 300px;
  gap: 15px;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  padding: 30px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  margin-right: 100px;
  margin-left: 100px;
  position: relative;
  
}

.carousel > * {
  flex-shrink: 0;
  width: 70px;
  height: 100%;
  border: 1px solid white;
  font-size: large;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.252);
  transition: 0.6s ease, padding 0.3s ease;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  text-align: center;
  writing-mode: vertical-rl; /* Vertical text when not expanded */
}

.carousel > .expanded {
  width: 300px;
  writing-mode: horizontal-tb; /* Horizontal text when expanded */
  align-items: flex-end; /* Align text at the bottom when expanded */
  justify-content: flex-start;
}


a {
  color: white;
  text-decoration: none;
  font-family: 'geist', sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  margin-left: 3vw;
  margin-bottom: 1.2rem;
  width: fit-content;
}

a:hover {
  text-shadow: 0 0 10px #01ae12aa, 0 0 20px #01ae12aa, 0 0 30px #01ae12aa, 0 0 40px #01ae12aa;
}